.form__wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.form__header__wrapper__div {
    width: 100%;
    background: #e8e8e8;
    color: gray;
    padding: 10px 10px 10px 40px;
}

.form__content__wraper {
    background: white;
    padding: 10px 50px 20px 20px;
}

.form__wrapper__div {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__footer {
    justify-content: center;
    flex-wrap: wrap;
}

.form__input__name {
    padding-right: 15px;
}

.tags {
    border: 1px solid black;
    margin: 10px 5px 10px 5px;
    padding: 2px;
    cursor: pointer;
}